body {
    font-family: Arial;
    margin: 0;
    background: #f4f9ff;
    text-align: center;
}

header {
    background: #007bff;
    color: white;
    padding: 30px;
}

section {
    padding: 20px;
}

.box {
    background: white;
    margin: 15px auto;
    padding: 20px;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 0 10px #ccc;
}

footer {
    background: #007bff;
    color: white;
    padding: 15px;
}}
.whatsapp {
    display: inline-block;
    background: green;
    color: white;
    padding: 12px 20px;
    text-decoration: none;
    border-radius: 8px;
    margin: 20px;
}
.hero {
    padding: 40px 20px;
    text-align: center;
}

.hero h2 {
    color: #007bff;
    font-size: 32px;
}
